@import url(reset.css);
@import url(header.css);
@import url(sectionPomodoro.css);
@import url(pomodoro-function.css);
@import url(grupo.css);
@import url(footer.css);


:root{
    --transition-lead: all 0.3s ease-in-out;
    --border-radius: 14px;

    --bg-color: #E0786C;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: #DCF2F0;
    border-radius: 4px;
    overflow-x: hidden;
    
}

